__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.typing/

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

recorded_macro/*.json
!recorded_macro/example.json
*.tmp
*.temp
reports/

.git/

*.db
*.sqlite

dist/
build/
*.egg-info/
